@model IEnumerable<API_Usage.Models.Sector>

@{
    ViewData["Title"] = "Sector_list";
}

<h2 style="text-decoration:underline">Sector Performance</h2>
<p>
   The table shows the change in stock performance for each segment 
</p>

<table class="table" style="border:dotted">
    <thead>
        <tr>
                
                
                <th>
                   Sector
                </th>
                <th>
                    Performance Change
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.performanceS)
            </td>
           
           
        </tr>
}
              
    </tbody>
</table>
<div style="padding:5px">
    <a id="dbopt" asp-controller="Home" asp-action="PopulateSector"><img src="~/img/button_save-data.png" /></a>
</div>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
